@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Inter", sans-serif !important;
    font-size: 14px;
}

input {
    color: #363636 !important;
    font-size: 14px !important;
    font-family: "Inter", sans-serif !important;
    line-height: 1.7;
    letter-spacing: 0.25px;
}

.container {
    max-width: 1160px !important;
    margin:  0 auto;
    padding: 0 20px;
}

.header__bar {
    background-color: #80bb35;
    color: white;
}

